<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

  <container>
    <register type="Tinghua.Management.Utility.Caching.ICacheProvider" mapTo="Tinghua.Management.Utility.Caching.DefaultCacheProvider"/>
    <register type="Tinghua.Management.Utility.Session.ISessionProvider, Tinghua.Management.Utility" mapTo="Tinghua.Management.Utility.Session.DefaultSessionProvider, Tinghua.Management.Utility"/>
    <register type="Tinghua.Management.Utility.Localization.ILocalizationProvider, Tinghua.Management.Utility" mapTo="Tinghua.Management.Utility.Localization.XmlLocalizationProvider, Tinghua.Management.Utility"/>
    <register type="System.Web.Mvc.IControllerFactory, System.Web.Mvc" mapTo="Tinghua.Management.Utility.IoC.Unity.UnityControllerFactory, Tinghua.Management.Utility"/>
  </container>

  <container name="ServiceContainer">

  </container>

</unity>
