<?xml version="1.0" encoding="utf-8" ?>
<Tinghua>
  <!--sqlserver db-->
  <!--<add key="db_host" value="127.0.0.1"/>
  <add key="db_port" value="1433"/>
  <add key="db_name" value="Micua"/>
  <add key="db_integrated_auth" value="true"/>
  <add key="db_username" value=""/>
  <add key="db_password" value=""/>
  <add key="db_min_pool_size" value="0"/>
  <add key="db_max_pool_size" value="200"/>
  <add key="db_connect_timeout" value="400"/>
  <add key="db_provider_name" value="System.Data.SqlClient"/>
  <add key="db_table_prefix" value=""/>
  <add key="db_column_prefix" value=""/>
  <add key="db_table_plural" value="false"/>

  <add key="trace_config_file" value="trace.config"/>
  <add key="bundle_config_file" value="bundle.config"/>

  --><!--<add key="theme_root" value="/Themes/"/>--><!--
  <add key="template_content_placeholder" value="CONTENT_PLACEHOLDER"/>
  <add key="template_layout_name" value="_Layout"/>-->
  <add key="chargeValue" value="0.2"/>
  <!--依赖注入容器类型-->
  <add key="dependency_resolver_type_name" value="Tinghua.Management.Utility.IoC.Unity.UnityDependencyResolver, Tinghua.Management.Utility"/>
  <add key="Version" value="1000"/>
  <add key="AppId" value="wxa5bb98fc95a6e843" />
  <add key="AppSecret" value="47d66d1992a7b4fe84d813f487e17c6f" />
  <add key="RedisRWAddress" value="101.201.31.194:6379" />
  <add key="RedisRAddress" value="101.201.31.194:6379" />
  <!--<add key="AppId" value="wxa29a108762f2c8ee" />
  <add key="AppSecret" value="f4e4f8e9cb951597afdc95da82779c78" />
  <add key="RedisRWAddress" value="101.201.80.1:6379" />
  <add key="RedisRAddress" value="101.201.80.1:6379" />-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--register type="full class name,namespace"-->
      <register type="Tinghua.Management.IBLL.IManagerService,Tinghua.Management.IBLL" mapTo="Tinghua.Management.BLL.ManagerService,Tinghua.Management.BLL">
        <lifetime type="singleton" />
      </register>
      <register type="Tinghua.Management.IDAL.IManagerDal,Tinghua.Management.IDAL" mapTo="Tinghua.Management.EFDAL.ManagerDal,Tinghua.Management.EFDAL">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</Tinghua>